*{
	padding : 0;
	margin : 0;
}

:root{
	--alpha_bg_color :#cce1ff4C;
	--alpha_text_color :#223a66;
}


/******FIRST SECTION***/
.first_section{
	width : 100%;
	height : 70vh;
	position : relative;
	margin-top : 65px;
}


.first_section_grid{
	width : 100%;
	display : grid;
	grid-template-columns : repeat(3,1fr);
	grid-auto-rows : 35vh;
}

.first_section_grid>.grid_alpha_item{
	grid-column : 1/2;
	grid-row : 1/2;
}

.first_section_grid>.grid_bravo_item{
	grid-column : 2/3;
	grid-row : 1/2;
}

.first_section_grid>.grid_charlie_item{
	grid-column : 3/4;
	grid-row : 1/2;
}

.first_section_grid>.grid_delta_item{
	grid-column : 1/2;
	grid-row : 2/3;
}
.first_section_grid>.grid_echo_item{
	grid-column : 2/3;
	grid-row : 2/3;
}


.first_section_grid>.grid_fox_item{
	grid-column : 3/4;
	grid-row : 2/3;
}

.grid_image{
	width : 100%;
	height : 35vh;
}

.first_section_content{
	width : 100%;
	height : 70vh;
}


.first_section_text_container{
	color : #ffffff;
	background : #00000066;
	position : absolute;
	top : 0;
	left : 0;
	width : 100%;
	height : 100%;
	padding-top : 75px;
}

.first_section_text{
	width : 60%;
	height : 90%;
	background : #000000D7;
	transform : translate(30%);
	font-size : 1.35rem;
	padding : 15px;
}
.first_section_heading{
	font-weight : 600;
	text-align : center;
	padding-bottom : 25px;
}



/*****SECOND SECTION***/
.second_section{
	width : 100%;
	height : 100vh;
	border-bottom : dashed 1px #223a66;
	background : #cce1ff4C;
	position : relative;
}

.second_section_content{
	padding-top : 50px;
}

.second_section_heading_flex{
	display : flex;
	align-items : center;
}



.latest_icon{
	width : 45px;
	height : 45px;
	margin-bottom : 20px;
}

.second_section_heading{
	font-weight : 700;
	font-size : 2.5rem;
   -webkit-text-fill-color: transparent;
   -webkit-background-clip: text;
    background-image: repeating-linear-gradient(45deg,#FF6700 35%,#1c39bb 65%);
	padding-left : 10px;
}
.second_section_flex{
	display : flex;
	padding-top : 50px;
}


.second_section_flex>div{
   width : 20%;	
   margin-left : 2%;
   margin-right : 2%;
   border : solid 0.25px #223a66;
   border-radius : 5px;
   cursor : pointer;
}

.item_image{
	width : 225px;
	height : 275px;
	border-top-left-radius : 5px;
	border-top-right-radius : 5px;
}
.item_heading{
	font-weight : 600;
	font-size : 1rem;
	color :#223a66;
	text-align : center;
}
.item_price{
	font-weight : 700;
	font-size : 1.25rem;
	color :#223a66;
	text-align : center;
}

/*************************************/


@keyframes animate_see_more_btn{
	from{
		transform:translate();
	}
	to{
		
		transform:translateX(5px);
	}
	
}

.see_more_btn:hover{
	.see_more_arrow{
		animation-name : animate_see_more_btn;
		animation-duration : 1s;
	    animation-timing-function : linear;
        animation-fill-mode : forwards;		
		
	}
	box-shadow: 1px 1px 3px 3px #3e3e3e4C;

}
.see_more_arrow{
	color : #ffffff;
}


.see_more_btn_link:hover{
	text-decoration : none;
}

.item_image{
	width : 225px;
	height : 275px;
	border-top-left-radius : 5px;
	border-top-right-radius : 5px;
}
.item_heading{
	font-weight : 600;
	font-size : 1.25rem;
	color :#223a66;
	text-align : center;
}
.item_price{
	font-weight : 700;
	font-size : 1.15rem;
	color :#223a66;
	text-align : center;
}
.var_text{
	text-align : center;
	color :#223a66;
}




/*****THIRD SECTION***/
.third_section{
	width : 100%;
	height : 100vh;
	border-bottom : dashed 1px #223a66;
	background : #cce1ff4C;
	position : relative;
}

.third_section_content{
	padding-top : 50px;
}
.third_section	.see_more_btn{
	width : 125px;
	height : 40px;
	position : absolute;
	background :#002147;
	color : #ffffff;
	left : 0;
	top : 10%;
	border : none;
	outline : none;
	font-weight : 600;
	font-size : 1rem;
	border-top-right-radius : 10px;
	border-bottom-right-radius : 10px;
	display : flex;
	align-items : center;
    padding-left : 5px;	
}

.third_section_heading_flex{
	display : flex;
	align-items : center;
	float : right;
}

.kitchen_icon{
	width : 30px;
	height : 30px;
}

.third_section_heading{
	text-align : right;
	font-weight : 700;
	font-size : 2.5rem;
   -webkit-text-fill-color: transparent;
   -webkit-background-clip: text;
    background-image: repeating-linear-gradient(45deg,#FF6700 35%,#1c39bb 65%);
}





.third_section_flex{
	display : flex;
	clear : both;
	padding-top : 50px;
}


.third_section_flex>div{
   width : 20%;	
   margin-left : 2%;
   margin-right : 2%;
   border : solid 0.25px #223a66;
   border-radius : 5px;
   cursor : pointer;
}




/*****FOURTH SECTION***/
.fourth_section{
	width : 100%;
	height : 100vh;
	border-bottom : dashed 1px #223a66;
	position : relative;
	background : #cce1ff4C;
}

.fourth_section_content{
	padding-top : 50px;
}
.fourth_section	.see_more_btn{
	width : 125px;
	height : 40px;
	position : absolute;
	background :#002147;
	color : #ffffff;
	right : 0;
	top : 10%;
	border : none;
	outline : none;
	font-weight : 600;
	font-size : 1rem;
	border-top-left-radius : 10px;
	border-bottom-left-radius : 10px;
    cursor : pointer;	
    display : flex;
	align-items : center;
    padding-left : 5px;
	}
.fourth_section_heading_flex{
	display : flex;
	align-items : center;
}

.bedroom_icon{
	width : 40px;
	height : 40px;
}

.fourth_section_heading{
	font-weight : 700;
	font-size : 2.5rem;
   -webkit-text-fill-color: transparent;
   -webkit-background-clip: text;
    background-image: repeating-linear-gradient(45deg,#FF6700 35%,#1c39bb 65%);
}


.fourth_section_flex{
	display : flex;
	padding-top : 50px;
}


.fourth_section_flex>div{
   width : 20%;	
   margin-left : 2%;
   margin-right : 2%;
   border : solid 0.25px #223a66;
   border-radius : 5px;
   cursor : pointer;
}


/*****FIFTH SECTION***/
.fifth_section{
	width : 100%;
	height : 100vh;
	border-bottom : dashed 1px #223a66;
	position : relative;
	background : #cce1ff4C;
}

.fifth_section_content{
	padding-top : 50px;
}
.fifth_section	.see_more_btn{
	width : 125px;
	height : 40px;
	position : absolute;
	background :#002147;
	color : #ffffff;
	left : 0;
	top : 10%;
	border : none;
	outline : none;
	font-weight : 600;
	font-size : 1rem;
	border-top-right-radius : 10px;
	border-bottom-right-radius : 10px;
    display : flex;
	align-items : center;
    cursor : pointer;	
	}
.fifth_section_heading_flex{
	display : flex;
	align-items : center;
	float : right;
}

.toilet_icon{
	width : 40px;
	height : 40px;
}

.fifth_section_heading{
	font-weight : 700;
	font-size : 2.5rem;
   -webkit-text-fill-color: transparent;
   -webkit-background-clip: text;
    background-image: repeating-linear-gradient(45deg,#FF6700 35%,#1c39bb 65%);
}


.fifth_section_flex{
	display : flex;
	padding-top : 50px;
	clear : both;
}


.fifth_section_flex>div{
   width : 20%;	
   margin-left : 2%;
   margin-right : 2%;
   border : solid 0.25px #223a66;
   border-radius : 5px;
   cursor : pointer;
}




/*****SIXTH SECTION***/
.sixth_section{
	width : 100%;
	height : 100vh;
	border-bottom : dashed 1px #223a66;
	position : relative;
	background : #cce1ff4C;
}

.sixth_section_content{
	padding-top : 50px;
}
.sixth_section	.see_more_btn{
	width : 125px;
	height : 40px;
	position : absolute;
	background :#002147;
	color : #ffffff;
	right : 0;
	top : 10%;
	border : none;
	outline : none;
	font-weight : 600;
	font-size : 1rem;
	border-top-left-radius : 10px;
	border-bottom-left-radius : 10px;
	display : flex;
	align-items : center;
    padding-left : 5px;
	cursor : pointer;
	}
.sixth_section_heading_flex{
	display : flex;
	align-items : center;
}


.sixth_section_heading{
	font-weight : 700;
	font-size : 2.5rem;
   -webkit-text-fill-color: transparent;
   -webkit-background-clip: text;
    background-image: repeating-linear-gradient(45deg,#FF6700 35%,#1c39bb 65%);
	padding-bottom : 30px;
	padding-left : 10px;
}


.sixth_section_flex{
	display : flex;
	padding-top : 50px;
}


.sixth_section_flex>div{
   width : 20%;	
   margin-left : 2%;
   margin-right : 2%;
   border : solid 0.25px #223a66;
   border-radius : 5px;
   cursor : pointer;
}





/*****SEVENTH SECTION***/
.seventh_section{
	width : 100%;
	height : 100vh;
	border-bottom : dashed 1px #223a66;
	position : relative;
	background : #cce1ff4C;
}

.seventh_section_content{
	padding-top : 50px;
}
.seventh_section	.see_more_btn{
	width : 125px;
	height : 40px;
	position : absolute;
	background :#002147;
	color : #ffffff;
	left : 0;
	top : 10%;
	border : none;
	outline : none;
	font-weight : 600;
	font-size : 1rem;
	border-top-right-radius : 10px;
	border-bottom-right-radius : 10px;
	display : flex;
	align-items : center;
    padding-left : 5px;
	cursor : pointer;		
	}
.seventh_section_heading_flex{
	display : flex;
	align-items : center;
	float : right;
}

.bestseller_icon{
	width : 40px;
	height : 40px;
}

.seventh_section_heading{
	font-weight : 700;
	font-size : 2.5rem;
   -webkit-text-fill-color: transparent;
   -webkit-background-clip: text;
    background-image: repeating-linear-gradient(45deg,#FF6700 35%,#1c39bb 65%);
}


.seventh_section_flex{
	display : flex;
	padding-top : 50px;
	clear : both;
}


.seventh_section_flex>div{
   width : 20%;	
   margin-left : 2%;
   margin-right : 2%;
   border : solid 0.25px #223a66;
   border-radius : 5px;
   cursor : pointer;
}



/******EIGHT SECTIION*****/
.eight_section{
	width : 100%;
	height : 200vh;
	background : url("../IMAGES/top-view-fresh-vegetables-such-as-carrot-onions-greens-green-bell-pepper-with-meat-slices-light-floor-vegetable-food-meal-vitamine-meat.jpg");
	background-size : cover;
	background-repeat : repeat;
	position : relative;
}

.eight_section_content{
    width :100%;
	height : 200vh;
	background-color : #000000F2;
	color : #ffffff;
	padding : 50px 50px 0 50px;
}

.eigth_section_heading{
	font-weight : 600;
    font-size : 1.5rem;
	text-align : center;
	
}

svg {
    width: 1000px;
    height: 200px;
}
text{
    font-size: 40px;
    font-weight: bold;
    fill: #ffffff;
}

.eight_section_text{
	font-size : 1.5rem;
	padding-bottom : 50px;
}


.grid_set{
	position : absolute;
	display : inline-block;
	width : 90%;
}

.eight_section_grid{
	width : 100%;
	padding-left : 10%;
	padding-right : 10%;
	display : grid;
	grid-template-columns : repeat(2,1fr);
	grid-auto-rows : 60px;
	grid-gap : 50px;
}


.prev_btn{
	position : absolute;
	top : 60%;
	width : 50px;
	height : 50px;
	border-radius : 100%;
	border : none;
	outline : none;
}

.next_btn{
	position : absolute;
	top : 60%;	
	width : 50px;
	height : 50px;
	border-radius : 100%;
	border : none;
	outline : none;
	right : 0;
}






.food_plan_btn{
	display : flex;
	align-items : center;
    justify-content : space-around;	
	color : #ffffff;
	width : 100%;
	height : 100%;
	border : solid 3px #e12454;
	background : none;
	outline : none;
	font-weight : 600;
	font-size : 1.15rem;
	border-top-left-radius : 50px;
	border-bottom-right-radius : 50px;
	
	
}


@keyframes animate_food_plan_btn{
    from{    
       background-position : -200px 60px;
    }
    to{
       background-position : 0px 0px;
    }
}

.food_plan_btn:hover{
	animation-name : animate_food_plan_btn;
	animation-duration : 2s;
	animation-timing-function : linear;
	animation-iteration-count : infinite;
    background : linear-gradient(45deg,#e12454, #223a66, #e12454);
	border : none;
}


.arrow_warm_up{
	transform : rotate(90deg);
	font-size : 2.5rem;
}


/*****NINTH SECTIION*****/
.ninth_section{
	width : 100%;
	background : #cce1ff4C;
	height : 35vh;
}

.ninth_section_content{
	width : 100%;
}

.ninth_section_grid{
	width : 90%;
	padding : 0 5% 0 5%;
	display : grid;
	grid-template-columns : repeat(3, 1fr);
	grid-auto-rows : 30vh;
}

.ninth_section .payment_policy_icon{
	width : 50px;
	height : 50px;
}

.ninth_section_grid>.ninth_section_grid_item{
	display : flex;
	margin : 0 25px 0 25px;
}

.ninth_section .grid_item_heading{
	font-weight : 700;
	font-size : 1.3rem;
	color :#223a66;
}

.ninth_section .icofont-diamond, .ninth_section .icofont-airplane-alt{
	color :#223a66;
	font-size : 3rem;
}


/*****TENTH SECTIION*****/

.tenth_section{
	width : 100%;
	height : 100vh;
	background-image :url("../IMAGES/71140472_2535240283188928_6431297725681106944_n.jpg");
	background-size : cover;
}

.tenth_section_content{
	width : 100%;
	height : 100vh;
	background-color : #000000f2;
	padding-top : 150px;
}

.tenth_section_grid{
	width : 95%;
	margin : 0 auto 0 auto;
	display : grid;
	grid-template-columns :repeat(2, 1fr);
	grid-auto-rows : 47vh;
	color : #ffffff;
	grid-gap : 50px;
}

.tenth_section_grid>.tenth_section_grid_item{
	width : 100%;
	height : 100%;
}
.tenth_section_grid_item:nth-child(1n){
	border : solid 2px #fb5b21;
	padding : 15px;
	border-radius : 0;
	border-top-left-radius : 50px;
	border-bottom-right-radius : 50px;	
}

.tenth_section_grid_item:nth-child(2n){
	padding : 15px;
	border :  solid 2px #fb5b21;
	border-radius : 0;
	border-top-left-radius : 50px;
	border-bottom-right-radius : 50px;
}

.client_image{
	width : 125px;
	height : 125px;
	border-radius : 100%;
	shape-outside : circle(45%);
	float : left;
	margin : 15px;
}

.tenth_section .icofont-whatsapp{
	font-size : 3rem;
	color :#25d366;
}

.whatsapp_icon{
	width : 30px;
	height : 30px;
}

.review_text{
	/* text-align : justify; */
	font-size : 1.2rem;
}
.client_profile{
	display : flex;
	align-items : center;
	height : 30px;
}
.client_name{
	/* font-style : oblique; */
	font-size : 1.2rem;
	padding-left : 5px;
	font-weight : 600;
}


footer{
	width : 100%;
	height : 50vh;
	background-color :#183153;
}


.footer_content{
	width : 90%;
	margin-left : auto;
	margin-right : auto;
	color : #ffffff;
	padding-top : 25px;
}

.footer_flex{
	display : flex;
	width : 100%;
}

.footer_flex>div:nth-child(1n){
	width : 40%;
}

.footer_flex>div:nth-child(2n){
	width : 25%;
}

.footer_flex>div:nth-child(3n){
	width : 25%;
}


.footer_icons{
    display : flex;	
}

.footer_icons>div{
    border-radius : 100%;
    background-color : #fb5b21;	
	margin : 0 5px;
	display : flex;
	align-items : center;
	justify-content : center;
	width : 40px;
	height : 40px;
}

.upcoming_events li{
	padding : 7.5px 0;
}
.footer_icons .fab{
	color :#ffffff;
	font-size : 1.15rem;
	
}
.footer_icons .icofont-x{
	color : #ffffff;
	font-size : 1.15rem;	
}



.quick_links{
	list-style-type : none;
}

.footer_heading{
	font-weight : 600;
	font-size : 3rem;
}

.customer_support{
	list-style-type : none;
}

.quick_links_item, .customer_support_item{
	font-size : 1.25rem;
}


